* { 
    /* border: solid yellow 1px;<==== create a border around all elements */
    padding: 0; 
    margin: 0;
}
body {
    /* add wall-E logo bottom left */
    background-image: url(./imgs/walle.jpg);
    background-size: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
    border: solid hotpink 3px;
}


.calculator { 
    height: 400px;
    width: 300px;
    position: absolute; 
    border: solid #622000 3px; 
    background-color: #A65D29;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    gap: 10px;
}

.display { 
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
    padding: 15px;
    height: 50px; 
    width: 268px; 
    border: 1px solid #6E6E6E; 
    background-color: #2C2C2C;
    color: white;
    overflow: hidden;
    font-size: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

.calc-buttons { 
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    height: 308px; 
    width: 300px; 
    border: green solid 1px; 
    margin-top: 10px;
    gap: 10px;
}

button { 
    height: 50px; 
    width: 67.5px;
    background-color: black;
    padding: 1px 6px 1px 6px;
    border: none;

}
.logo { 
    display: inline-block;
}


